
<!-- 
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="EmployeeID">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="EmployeeName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="EmployeeAge">
      </mat-form-field>
      <br>
    <mat-form-field>
      <mat-select placeholder="Gender">
        <mat-option value="M">M</mat-option>
        <mat-option value="F">F</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Salary">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Save</button>
    </div>
  </div> -->

  <!-- <div class="container" [hidden]="submitted">
    
    <form (ngSubmit)= "onSubmit()" #employeeForm = "ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="empName" name="name" #name = "ngModel">
        <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
      Name is required
      </div>
      </div>
      
      

      <div class="form-group">
        <label for="empid">EmployeeID</label>
        <input type="text" class="form-control" id="empid" required [(ngModel)]="empId" name="empid">
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" required [(ngModel)]="empGender" name="gender">
          <option *ngFor="let g of genders" [value]="g">{{g}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="empage">Employee Age</label>
        <input type="text" class="form-control" id="empage" required [(ngModel)]="empAge" name="empage">
      </div>

      <div class="form-group">
        <label for="empsalary">Employee Salary</label>
        <input type="text" class="form-control" id="empsalary" required [(ngModel)]="empSalary" name="empsalary">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>

    </form>
</div> -->

<!-- <form class="form-style-9">
  <ul>
  <li>
      <input type="text" name="field1" class="field-style field-split align-left" placeholder="Name" />
      <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" />
  
  </li>
  <li>
      <input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
      <input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
  </li>
  <li>
  <input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
  </li>
  <li>
  <textarea name="field5" class="field-style" placeholder="Message"></textarea>
  </li>
  <li>
  <input type="submit" value="Send Message" />
  </li>
  </ul>
  </form> -->
<div class="container" [hidden]="submitted">
    
  <form (ngSubmit)= "onSubmit()" class="form-style-9"  [formGroup]="employeeForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required formControlName="name" >
    </div>
    
    

    <div class="form-group">
      <label for="empid">EmployeeID</label>
      <input type="text" class="form-control" id="empid" required  formControlName="empid">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" required formControlName="gender">
        <option *ngFor="let g of genders" [value]="g">{{g}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="empage">Employee Age</label>
      <input type="number" class="form-control" id="empage" required  formControlName="age">
    </div>

    <div class="form-group">
      <label for="empsalary">Employee Salary</label>
      <input type="number" class="form-control" id="empsalary" required  formControlName="salary">
    </div>
    <div style="text-align:center">
      <button type="submit"  class={{btnclass}}  >{{btnname}}</button>
    </div>
      
    
    

  </form>
</div>

<div [hidden]="!submitted" class="form-style-9">
  <h2>You submitted the following:</h2>
  

    <div class="row">
      <div class="col-xs-3">Name:</div>
      <div class="col-xs-9">{{ employeeForm.value.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">EmployeeID: </div>
      
      <div class="col-xs-9"><p>{{employeeForm.value.empid }}</p></div>
    </div>
    <div class="row">
      <div class="col-xs-3">EmployeeGender:</div>
      <div class="col-xs-9">{{ employeeForm.value.gender }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">EmployeeAge:</div>
      
      <div class="col-xs-9">{{ employeeForm.value.age  }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">EmployeeSalary:</div>
      <div class="col-xs-9">${{ employeeForm.value.salary }}</div>
    </div>
    
    <br>
    <div style="text-align:center">
      <button class="btn btn-primary" (click)=afterSubmit()>OK</button>
    </div>
    
 
</div>

